<style>
  li p {
  	display: inline-block;
  	margin: 0;
  }
</style>

<% @modules.each_key do |mod| %>
  <% next unless @mods.include?(mod) %>
  <li><a href="/<%= @id %>/<%= mod %>"><%= settings.markdown.render(@modules[mod]['name']) %></a></li>
<% end %>