<style>
  li p {
  	display: inline-block;
  	margin: 0;
  }
</style>

<% @lab['modules'].each do |mod| %>
  <li><a href="/<%= @id %>/<%= mod %>"><%= settings.renderer.render(@modules[mod]['name']) %></a></li>
<% end %>